/* Webfont: FuturaPT-ExtraBoldObl */@font-face {
    font-family: 'FuturaPTExtraBoldItalic';
    src: url('FuturaPT-ExtraBoldObl.eot'); /* IE9 Compat Modes */
    src: url('FuturaPT-ExtraBoldObl.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('FuturaPT-ExtraBoldObl.woff') format('woff'), /* Modern Browsers */
         url('FuturaPT-ExtraBoldObl.ttf') format('truetype'), /* Safari, Android, iOS */
         url('FuturaPT-ExtraBoldObl.svg#FuturaPT-ExtraBoldObl') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

