/* Webfont: FuturaPTCond-ExtraBold */@font-face {
    font-family: 'FuturaPTCondExtraBold';
    src: url('FuturaPTCond-ExtraBold.eot'); /* IE9 Compat Modes */
    src: url('FuturaPTCond-ExtraBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('FuturaPTCond-ExtraBold.woff') format('woff'), /* Modern Browsers */
         url('FuturaPTCond-ExtraBold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('FuturaPTCond-ExtraBold.svg#FuturaPTCond-ExtraBold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

