/* Webfont: FuturaPTCond-Book */@font-face {
    font-family: 'FuturaPTCondBook';
    src: url('FuturaPTCond-Book.eot'); /* IE9 Compat Modes */
    src: url('FuturaPTCond-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('FuturaPTCond-Book.woff') format('woff'), /* Modern Browsers */
         url('FuturaPTCond-Book.ttf') format('truetype'), /* Safari, Android, iOS */
         url('FuturaPTCond-Book.svg#FuturaPTCond-Book') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

