/* Webfont: FuturaPT-BookObl */@font-face {
    font-family: 'FuturaPTBookItalic';
    src: url('FuturaPT-BookObl.eot'); /* IE9 Compat Modes */
    src: url('FuturaPT-BookObl.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('FuturaPT-BookObl.woff') format('woff'), /* Modern Browsers */
         url('FuturaPT-BookObl.ttf') format('truetype'), /* Safari, Android, iOS */
         url('FuturaPT-BookObl.svg#FuturaPT-BookObl') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

