/* Webfont: FuturaPTCond-Bold */@font-face {
    font-family: 'FuturaPTCondBold';
    src: url('FuturaPTCond-Bold.eot'); /* IE9 Compat Modes */
    src: url('FuturaPTCond-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('FuturaPTCond-Bold.woff') format('woff'), /* Modern Browsers */
         url('FuturaPTCond-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('FuturaPTCond-Bold.svg#FuturaPTCond-Bold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

