/* Webfont: FuturaPT-BoldObl */@font-face {
    font-family: 'FuturaPTBoldItalic';
    src: url('FuturaPT-BoldObl.eot'); /* IE9 Compat Modes */
    src: url('FuturaPT-BoldObl.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('FuturaPT-BoldObl.woff') format('woff'), /* Modern Browsers */
         url('FuturaPT-BoldObl.ttf') format('truetype'), /* Safari, Android, iOS */
         url('FuturaPT-BoldObl.svg#FuturaPT-BoldObl') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

