/* Webfont: FuturaPT-Heavy */@font-face {
    font-family: 'FuturaPTHeavy';
    src: url('FuturaPT-Heavy.eot'); /* IE9 Compat Modes */
    src: url('FuturaPT-Heavy.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('FuturaPT-Heavy.woff') format('woff'), /* Modern Browsers */
         url('FuturaPT-Heavy.ttf') format('truetype'), /* Safari, Android, iOS */
         url('FuturaPT-Heavy.svg#FuturaPT-Heavy') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

