/* Webfont: FuturaPT-DemiObl */@font-face {
    font-family: 'FuturaPTDemiItalic';
    src: url('FuturaPT-DemiObl.eot'); /* IE9 Compat Modes */
    src: url('FuturaPT-DemiObl.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('FuturaPT-DemiObl.woff') format('woff'), /* Modern Browsers */
         url('FuturaPT-DemiObl.ttf') format('truetype'), /* Safari, Android, iOS */
         url('FuturaPT-DemiObl.svg#FuturaPT-DemiObl') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

