header{
	transition: all ease .2s;
	z-index: 500;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100px;
	padding-left: 30px;
	padding-top: 20px;
	background: $white-color;
	font-size: 17px;
	font-family: $futura;

	@include tablet{
		padding-left: 10px;
		padding-top: 15px;

	}

	a {
		text-decoration: none;
		color: $black-color;
	}


	.logo-area{
		transition: all ease .2s;
		position: absolute;
		display: grid;
		width: 30%;
		grid-template-columns: 80px 1fr;
		grid-gap: 33px;

		@include phone{
			grid-template-columns: 1fr 1fr;
		}
		.logo{
			height: 80px;
			float: right;
			transition: all ease .2s;
			transform-origin: center center;
			@include tablet{
				transform: scale3d(.6, .6, .6) translateX(-25px);
				float: left;
			}
		}
		.title{
			align-self: center;
			width: auto;
			white-space: nowrap;
			@include tablet{
				transform: translateX(-5vw);
			}
			@include phone{
				transform: translateX(-14vw);
			}

			@media screen and (max-width: 310px){
				display: none;
			}
		}
	}

	.mobile-nav{
		height: 0;
		width: 100%;

		@media screen and (min-width: $desktop)
		{
			display: none;
		}

		.mobile-login{
			height: 24px;
			position: absolute;
			right: 85px;
			top: 43px;
		}

		.burger{
			display: block;
			height: auto;
			width: auto;
			position: absolute;
			right: 30px;
			top: 45px;
			// background: red;
			span{
				transition: all ease .2s;
				display: block;
				height: 2px;
				width: 30px;
				background: $black-color;
				border-radius: 10px;

				&.first-stroke{

				}
				&.second-stroke{
					opacity: 1;
					margin-top: 7px;
				}
				&.third-stroke{
					margin-top: 7px;
				}
			}

			&.open{
				transform: translateY(-2px) scale3d(0.9, 0.9, 0.9);
				span{

					&.first-stroke{
						transform: rotate(90deg) translateX(10px);
					}
					&.second-stroke{
						width: 15px;
						transform: translateX(12px) translateY(12px) rotate(-45deg);
					}
					&.third-stroke{
						width: 15px;
						transform: translateX(3px) translateY(3px) rotate(45deg);
					}
				}
			}

		}

		.mobile-menu{
			pointer-events: none;
			transition: all ease .4s .4s;
			// height: 200px;
			width: 100%;
			background: $white-color;
			z-index: -5;
			position: absolute;
			left: 0;
			// top: -200px;
			// transform: translateY(100px);
			padding-top: 60px;
			padding-bottom: 30px;
			opacity: 0;
			height: 100vh;

			ul{
				text-align: right;
				padding-top: 5vh;
				@for $i from 1 through 6 {
					li:nth-of-type(#{$i}) {transition-delay: (5 - $i )  * .05s;}
				}
			}

			li{

				transition: all ease .2s;
				transform: translateX(100px);
				opacity: 0;
				font-size: 38px;
				padding-top: 30px;
				.active{
					border-bottom: 2px solid $black-color;
				}


			}


			&.open{
				pointer-events: all;
				transition: all ease .4s;
				// transform: translateY(250px);
				opacity: 1;
				@for $i from 1 through 6 {
					li:nth-of-type(#{$i}) {transition-delay: $i * .05s;}
				}
				li{
					transition: all ease .3s;
					opacity: 1;
					transform: translateX(-30px);
				}


			}
		}
	}

	.main-nav{
		position: absolute;
		right: 5vw;
		top: 52px;
		transition: all ease .2s;
		@include tablet{
			display: none;
		}

		li {
			display: inline;
			margin-left: 12px;
			margin-right: 12px;
			a {
				color: lighten($black-color, 40%);
				&.active{
					font-weight: 500;
					border-bottom: 1px solid $black-color;
					opacity: 1;
					color: $black-color;
				}
				&:hover{
					border-bottom: 1px solid $black-color;
					color: $black-color;

					// .notification{
					// 	transform: scale3d(1.25, 1.25, 1.25);
					// 	transition: all ease .1s;
					// }
				}
				.notification{
					transition: all ease .1s;
					position: absolute;
					top: -7px;
					margin-left: -4px;
					font-size: 12px;
					width: 17px;
					height: 17px;
					background: $native-blue;
					border-radius: 100%;
					color: $white-color;
					text-align: center;
					font-weight: bold;

					.notification-text{
						position: absolute;
						left: 5.49px;
						top: 2px;
					}
				}
			}



		}
		.login{
			height: 20px;
			position: absolute;
			top: -4px;
			// margin-left: 10px;
			right: -10px;
			cursor: pointer;
		}
	}

	.login-screen{
		// display: none;
		height: 190px;
		background: $white-color;
		position: absolute;
		right: 0;
		top: 100px;
		width: 280px;
		box-shadow: -5px 5px 5px rgba(0, 0, 0, .1);
		padding: 20px;
		input{
			border: 1px solid $black-color;
			opacity: .8;
			font-size: 15px;
			width: 80%;
			height: 25px;
			margin-top: 10px;
			margin-bottom: 10px;
			margin-left: auto;
			margin-right: auto;
			padding-left: 10px;

			// &::placeholder{
			// 	padding-left: 7px;
			// }
		}

		.button{
			margin-top: 20px;
		}

		&.closed{
			display: none;
		}

	}

	&.slim{
		box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
		transition: all ease .2s;
		transform: translateY(-30px);
		height: 70px;
		.logo-area{
			grid-gap: 5px;
			// transform:  translateY(-20px);
			transition: all ease .2s;
			.logo{
				transform-origin: center center;
				transform: scale3d(0.3, 0.3, 1) translateX(80px);
				transition: all ease .2s;
				// transition-delay: .1s;
				@include tablet{
					transform: scale3d(0.35, 0.35, 1) translateX(-50px);
				}
			}
		}

		nav{
			transition: all ease .2s;
		}

		.login-screen{
			top: 88px;
		}

		.title{
			@include phone{
				transition: all ease .2s;
				transform: translateX(-12vw);
			}
		}

	}
}
