@mixin transition($transition...) {
    -moz-transition   : $transition;
    -o-transition     : $transition;
    -webkit-transition: $transition;
    transition        : $transition;
}

@mixin transform($transform...) {
    -moz-transform   : $transform;
    -o-transform     : $transform;
    -webkit-transform: $transform;
    transform        : $transform;
}

@mixin transform-origin($transform...) {
    -moz-transform-origin   : $transform;
    -o-transform-origin     : $transform;
    -webkit-transform-origin: $transform;
    transform-origin        : $transform;
}

@mixin box-sizing($box-model) {
	-webkit-box-sizing: $box-model;
	-moz-box-sizing   : $box-model;
	box-sizing        : $box-model;
}

@mixin default-link()
{
	text-decoration: none;
	&:hover
	{
		text-decoration: none;
	}
}

@mixin setColorClass($name, $color)
{
    .#{$name}, .#{$name} a, .#{$name} span, .#{$name} a:visited, .#{$name} h2, .#{$name} h3, .#{$name} h4
    {
        color: $color;
        text-decoration: none;
    }
}

@mixin setBackgroundColorClass($name, $color, $blur: null)
{
    .#{$name}
    {
        background: $color;
        @if $blur
        {
            -webkit-backdrop-filter: blur($blur);
        }
    }
}


@function number($value) {
  @if type-of($value) == 'number' {
    @return $value;
  } @else if type-of($value) != 'string' {
    $_: log('Value for `to-number` should be a number or a string.');
  }

  $result: 0;
  $digits: 0;
  $minus: str-slice($value, 1, 1) == '-';
  $numbers: ('0': 0, '1': 1, '2': 2, '3': 3, '4': 4, '5': 5, '6': 6, '7': 7, '8': 8, '9': 9);

  @for $i from if($minus, 2, 1) through str-length($value) {
    $character: str-slice($value, $i, $i);

    @if not (index(map-keys($numbers), $character) or $character == '.') {
      @return to-length(if($minus, -$result, $result), str-slice($value, $i))
    }

    @if $character == '.' {
      $digits: 1;
    } @else if $digits == 0 {
      $result: $result * 10 + map-get($numbers, $character);
    } @else {
      $digits: $digits * 10;
      $result: $result + map-get($numbers, $character) / $digits;
    }
  }

  @return if($minus, -$result, $result);;
}

@function rem($pt)
{
	@return ((($pt * $dpi) / 96) / strip-unit($primary-font-size)) + rem;
}

@function pow($number, $exponent) {
  $value: 1;

  @if $exponent > 0 {
    @for $i from 1 through $exponent {
      $value: $value * $number;
    }
  }

  @return $value;
}

@function px($rem)
{
    $val: number(str-slice($rem, 0, -4));
    @return round(($val * pow(10, 8) * 16px)/ pow(10, 8));
}

@function strip-unit($number) {
	@if type-of($number) == 'number' and not unitless($number) {
		@return $number / ($number * 0 + 1);
	}
	@return $number;
}

@mixin aspect-ratio($width, $height) {
	position: relative;
	&:before {
		display    : block;
		content    : "";
		width      : 100%;
		padding-top: ($height / $width) * 100%;
	}
	> .inside {
		position: absolute;
		top     : 0;
		left    : 0;
		right   : 0;
		bottom  : 0;
	}
}

@mixin phone {
	@media (max-width: #{$phone}) {
		@content;
	}
}
@mixin phone-landscape {
	@media (max-width: #{$tablet}) and (orientation: landscape) {
		@content;
	}
}

@mixin tablet {
	@media  (max-width: #{$desktop - 1px}) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: #{$desktop}) and (max-width: #{$desktop-large - 1px}) {
		@content;
	}
}

@mixin desktop-large {
	@media (min-width: #{$desktop-large}) {
		@content;
	}
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation   : #{$str};
  -ms-animation    : #{$str};
  -o-animation     : #{$str};
  animation        : #{$str};
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@mixin column-count($str) {
  -webkit-column-count: #{$str};
  -moz-column-count   : #{$str};
  column-count        : #{$str};
}

@mixin noselect()
{
  -webkit-user-select: none;
  -moz-user-select   : none;
  -khtml-user-select : none;
  -ms-user-select    : none;
}

@mixin placeholder-color($color)
{
  ::-webkit-input-placeholder { color: #{$color}; }
   :-moz-placeholder { color: #{$color};}
  ::-moz-placeholder { color: #{$color}; }
   :-ms-input-placeholder { color: #{$color}; }
}

@mixin flexbox()
{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin inline-flex {
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
}

@mixin flex-direction($value: row) {
	@if $value == row-reverse {
		-webkit-box-direction: reverse;
		-webkit-box-orient   : horizontal;
	} @else if $value == column {
		-webkit-box-direction: normal;
		-webkit-box-orient   : vertical;
	} @else if $value == column-reverse {
		-webkit-box-direction: reverse;
		-webkit-box-orient   : vertical;
	} @else {
		-webkit-box-direction: normal;
		-webkit-box-orient   : horizontal;
	}
	-webkit-flex-direction: $value;
	-moz-flex-direction   : $value;
	-ms-flex-direction    : $value;
	flex-direction        : $value;
}

@mixin flex-wrap($value: nowrap) {
	// No Webkit Box fallback.
	-webkit-flex-wrap: $value;
	-moz-flex-wrap   : $value;
	@if $value == nowrap {
		-ms-flex-wrap: none;
	} @else {
		-ms-flex-wrap: $value;
	}
	flex-wrap: $value;
}

@mixin flex-flow($values: (row nowrap)) {
	// No Webkit Box fallback.
	-webkit-flex-flow: $values;
	-moz-flex-flow   : $values;
	-ms-flex-flow    : $values;
	flex-flow        : $values;
}

@mixin order($int: 0) {
	-webkit-box-ordinal-group: $int + 1;
	-webkit-order            : $int;
	-moz-order               : $int;
	-ms-flex-order           : $int;
	order                    : $int;
}

@mixin flex($int: 0) {
	-webkit-flex: $int;
	-webkit-flex: $int;
	-moz-flex   : $int;
	-ms-flex    : $int;
	flex        : $int;
}

@mixin flex-grow($int: 0) {
	-webkit-box-flex : $int;
	-webkit-flex-grow: $int;
	-moz-flex-grow   : $int;
	-ms-flex-positive: $int;
	flex-grow        : $int;
}

@mixin flex-shrink($int: 1) {
	-webkit-flex-shrink: $int;
	-moz-flex-shrink   : $int;
	-ms-flex-negative  : $int;
	flex-shrink        : $int;
}

@mixin flex-basis($value: auto) {
	-webkit-flex-basis     : $value;
	-moz-flex-basis        : $value;
	-ms-flex-preferred-size: $value;
	flex-basis             : $value;
}

@mixin justify-content($value: flex-start) {
	@if $value == flex-start {
		-webkit-box-pack: start;
		-ms-flex-pack   : start;
	} @else if $value == flex-end {
		-webkit-box-pack: end;
		-ms-flex-pack   : end;
	} @else if $value == space-between {
		-webkit-box-pack: justify;
		-ms-flex-pack   : justify;
	} @else if $value == space-around {
		-ms-flex-pack: distribute;
	} @else {
		-webkit-box-pack: $value;
		-ms-flex-pack   : $value;
	}
	-webkit-justify-content: $value;
	-moz-justify-content   : $value;
	justify-content        : $value;
}

@mixin align-items($value: stretch) {
	@if $value == flex-start {
		-webkit-box-align: start;
		-ms-flex-align   : start;
	} @else if $value == flex-end {
		-webkit-box-align: end;
		-ms-flex-align   : end;
	} @else {
		-webkit-box-align: $value;
		-ms-flex-align   : $value;
	}
	-webkit-align-items: $value;
	-moz-align-items   : $value;
	align-items        : $value;
}

@mixin align-self($value: auto) {
	// No Webkit Box Fallback.
	-webkit-align-self: $value;
	-moz-align-self   : $value;
	@if $value == flex-start {
		-ms-flex-item-align: start;
	} @else if $value == flex-end {
		-ms-flex-item-align: end;
	} @else {
		-ms-flex-item-align: $value;
	}
	align-self: $value;
}

@mixin align-content($value: stretch) {
	// No Webkit Box Fallback.
	-webkit-align-content: $value;
	-moz-align-content   : $value;
	@if $value == flex-start {
		-ms-flex-line-pack: start;
	} @else if $value == flex-end {
		-ms-flex-line-pack: end;
	} @else {
		-ms-flex-line-pack: $value;
	}
	align-content: $value;
}

@mixin backface-visibility($visibility)
{
  -webkit-backface-visibility: #{$visibility};
  -moz-backface-visibility   : #{$visibility};
  -o-backface-visibility     : #{$visibility};
  backface-visibility        : #{$visibility};
}

@mixin vertical-center()
{
	@include flexbox();
	@include align-items(center);
}
@mixin horizontal-center()
{
	@include flexbox();
	@include justify-content(center);
}
@mixin center()
{
	@include vertical-center();
	@include horizontal-center();
}

@mixin gradient-horizontal($start-color: #555, $end-color: #333, $start-percent: 0%, $end-percent: 100%) {
	background-image: -webkit-linear-gradient(left, $start-color $start-percent, $end-color $end-percent);
	background-image: -o-linear-gradient(left, $start-color $start-percent, $end-color $end-percent);
	background-image: linear-gradient(to right, $start-color $start-percent, $end-color $end-percent);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=1);
}

@mixin gradient-vertical($start-color: #555, $end-color: #333, $start-percent: 0%, $end-percent: 100%) {
	background-image: -webkit-linear-gradient(top, $start-color $start-percent, $end-color $end-percent);
	background-image: -o-linear-gradient(top, $start-color $start-percent, $end-color $end-percent);
	background-image: linear-gradient(to bottom, $start-color $start-percent, $end-color $end-percent);
	background-repeat: repeat-x;
}

@mixin gradient-animation( $start, $end, $transTime ){
	background-size: 100%;
	@include gradient-horizontal($start, $end);
	position: relative;
	z-index: 100;
	&:before {
		@include gradient-horizontal($end, $start);
	  content: '';
	  display: block;
	  height: 100%;
	  position: absolute;
	  top: 0; left: 0;
	  opacity: 0;
	  width: 100%;
	  z-index: -100;
	  transition: opacity $transTime;
	}
	&:hover {
	   &:before {
		 opacity: 1;
	   }
	}
  }
