main{
	box-sizing: border-box;
	margin-top: 160px;
	@include phone{
		margin-top: 110px;
	}
	.heading{
		margin-left: 142px;
		@include phone{
			margin-left: 10px;
		}
		h1{
			font-size: 56px;
			font-family: $futura-cond;
			font-weight: 500;
			@include phone{
				font-size: 12vw;
			}
		}
	}

	.categories{
		transition: all ease .2s;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-row-gap: 100px;
		grid-column-gap: 20px;
		margin-top: 70px;
		// margin-right: 40px;
		overflow-y: hidden;

		@include phone{
			grid-template-columns: 1fr;
			grid-row-gap: 20px;
			grid-column-gap: 0px;
			margin-right: 0;
		}

		a{
			color: $black-color;
			&:visited{
				color: $black-color;
			}
		}


		.grid-element{
			height: 500px;
			// background: red;
			position: relative;
			@include phone{
				height: 400px;
			}

			h2{
				transition: all ease .2s;
				font-size: 182px;
				font-family: $futura-cond;
				font-weight: 500;
				position: absolute;
				top: 110px;
				z-index: 100;
				transform: translateX(0);
				span {
					transition: all ease .2s;
				}
				@include phone{
					font-size: 30vw;
				}
			}

			.subtext{
				transition: all ease .2s .1s;
				text-align: right;
				position: absolute;
				left: 140px;
				top: 320px;
				display: block;
				max-width: 150px;
				z-index: 1;
				@include phone{
					left: 7vw;
					top: 250px;
					max-width: 150px;
				}
			}

			.image-container{
				height: 99%;
				width: 100%;
				float: right;
				background-size: cover;
				background-repeat: no-repeat;
				transition: all ease .2s;
				margin-top: 1px;
			}

			.white-container{
				transition: all ease .3s;
				position: absolute;
				background: $white-color;
				height: 515px;
				width: 321px;
				left: -1px;
				top: -2px;
				bottom: -3px;
				// z-index: 100;
				@include phone{
					width: 50vw;
				}

			}


			&.sport{
				.image-container{
					background-image: url("../img/Swimmer.jpg");
					background-position: left center;
				}

				h2{
					left: 133px;
					@include phone{
						left: 19vw;
					}
				}
			}
			&.musik{
				.image-container{
					background-image: url("../img/Dance.jpg");
					background-position: left center;
				}
				h2{
					left: 116px;
					@include phone{
						left: 16vw;
					}
				}
			}
			&.kunst{
				.image-container{
					background-image: url("../img/Statue.jpg");
					background-position: right center;
				}
				h2{
					left: 125px;
					@include phone{
						left: 17.5vw;
					}
				}
			}
			&.regional{
				.image-container{
					background-image: url("../img/Lake.jpg");
					background-position: 0px center;
				}
				h2{
					left: 37px;
					@include phone{
						left: 3vw;
					}
				}
			}

			&:hover{
				// transition: all ease .2s;
				cursor: pointer;
				color: $white-color !important;
				.sport-color, .musik-color, .kunst-color, .regional-color, h2, span{
					transition: all ease .2s;
					color: $white-color;
				}

				.white-container{
					transition: all ease .3s;
					transform: translateX(-160px) scale3d(0, 1, 1);
				}

				.subtext{
					transition: all ease .2s;
					opacity: 0;
				}

				h2{
					transform-origin: center center;
					transition: all ease .2s;
					transform: translateX(19%);
					// left: 50%;
					text-align: center;

				}

				// .image-container{
				// 	transition: all ease .2s;
				// 	width: 100%;
				// 	background-position: center center;
				// }
			}

		}
	}


	.single{
		margin-top: 230px;
		position: relative;
		box-sizing: border-box;
		h2{
			font-size: 182px;
			font-family: $futura-cond;
			font-weight: 500;
			position: absolute;
			top: 250px;
			z-index: 100;
			box-sizing: border-box;
			@include phone{
				font-size: 30vw;
				top: 10px;
				position: relative;
				margin-bottom: 30px;
				box-sizing: border-box;
				max-width: 95%;
				display: block;
				padding-top: 50px;
			}

		}
		@include phone{
			margin-top: 160px;
			margin-bottom: 100px;
		}
		&.sport{
			.first-image{
				margin-left: 320px;
				background-image: url("../img/Swimmer.jpg");
				@include phone{
					margin-left: 0vw;
				}
			}

			.second-image{
				background-image: url("../img/Formel.jpg");
			}

			.indicator{
				background-color: $sport-color;
			}
			h2{
				left: 133px;
				@include phone{
					left: 10px;
				}
			}
		}

		&.musik{
			.first-image{
				margin-left: 338px;
				background-image: url("../img/Dance.jpg");
				@include phone{
					margin-left: 0vw;
				}
			}

			.second-image{
				background-image: url("../img/Piano.jpg");
			}

			.indicator{
				background-color: $musik-color;
			}

			h2{
				left: 133px;
				@include phone{
					left: 10px;
				}
			}
		}

		&.kunst{
			.first-image{
				margin-left: 328px;
				background-image: url("../img/Statue.jpg");
				background-position:  center;
				@include phone{
					margin-left: 0vw;
				}
			}

			.second-image{
				background-image: url("../img/Man.jpg");
			}

			.indicator{
				background-color: $kunst-color;
			}

			h2{
				left: 133px;
				@include phone{
					left: 10px;
				}
			}
		}

		&.regional{
			.first-image{
				margin-left: 416px;
				background-image: url("../img/Lake.jpg");
				@include phone{
					margin-left: 0vw;
				}
			}

			.second-image{
				background-image: url("../img/Beach.jpg");
				background-position: center center;
			}

			.indicator{
				background-color: $regional-color;
			}

			h2{
				left: 133px;
				@include phone{
					left: 10px;
				}
			}
		}

		.first-image{
			height: 470px;
			background-size: cover;
			@include phone{
				height: 200px;
			}
		}

		.second-image{
			background-size: cover;
			height: 460px;
			@include phone{
				height: 200px;
				margin-left: -10px;
			}

			.button{
				position: absolute;
				bottom: -1px;
				right: 0px;
				border: none;
				background: $white-color;
				padding-right: 55px;
				@include phone{
					box-sizing: border-box;
				}

				svg {
					&.idle{
						transition: all ease .3s;
						transform: rotate(-90deg) ;
						height: 9px;
					}
					&.hover{
						transition: all ease .3s;
						transform: rotate(0deg) translate3d(0, 30px, 0);
						height: 18px;
						margin-top: -5px;

					}
				}

				&:hover{
					color: $black-color;
					svg{
						&.idle{
							transition: all ease .3s;
							transform: rotate(-90deg) translate3d(30px, 0, 0);
							fill: $black-color;
						}
						&.hover{
							transition: all ease .3s;
							transform: rotate(0deg) translate3d(0, 0, 0);
						}
					}

				}
			}
		}


		.single-main-container{
			margin-top: 50px;
			display: grid;
			grid-template-columns: 142px 1fr 1fr;
			grid-gap: 30px;
			@include phone{
				grid-template-columns: 1fr;
				margin-left: 10px;
				margin-top: 0px;
			}

			.single-text{
				padding-top: 40px;
				padding-right: 25px;
				span {
					display: block;
					max-width: 500px;
				}
				@include phone{
					padding-top: 0px;
				}
			}
		}

		.button{
			margin-top: 70px;
			padding-right: 60px;

			@include phone{
				margin-top: 40px;
				margin-bottom: 40px;
			}
			// svg.hover{
			// 	fill: $white-color !important;
			// }
		}

		.indicator{
			height: 6px;
			width: 200px;
			position: absolute;
			margin-top: 80px;
		}
	}

}

#airplane-taking-off {
	.cls-1{
		fill: $white-color !important;
	}
}

strong{
	font-weight: 500;
}
.button{
	&.to-top-fixed{
		transition: all ease .3s;
		padding-right: 60px;
		position: fixed;
		bottom: 5vw;
		right: 0vw;
		z-index: 500;
		background: $white-color;
		border: none;
		box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
		transform: translateX(50vw);

		&.visible{
			transform: translateX(0vw);
			// opacity: 0;
		}

		&.sport-color{
			color: $black-color;
			background: $sport-color;
		}

		&.musik-color{
			color: $white-color;
			background: $musik-color;
			svg{
				&.idle{
					fill: $white-color;
				}
			}
		}

		&.kunst-color{
			color: $white-color;
			background: $kunst-color;
			svg{
				&.idle{
					fill: $white-color;
				}
			}
		}

		&.regional-color{
			color: $black-color;
			background: $regional-color;
		}

		svg {
			&.idle{
				transition: all ease .3s;
				transform: rotate(-90deg) ;
				height: 9px;
			}
			&.hover{
				transition: all ease .3s;
				transform: rotate(0deg) translate3d(0, 30px, 0);
				height: 18px;
				margin-top: -5px;

			}
		}

		&:hover{
			border: none;
		}

	}
}
