$white-color: #ffffff;
$black-color: #000000;

$native-blue: #40B4E5;
$native-green: #5FBB97;

$sport-color: #FBFB05;
$musik-color: #02CAF4;
$kunst-color: #E71D36;
$regional-color: #B9FFB7;

// Fonts
$futura: futura_lokal, sans-serif;
$futura-cond: futura_cond_lokal, sans-serif;

$phone: 460px;
$tablet: 800px;
$desktop: 1000px;
