html
{
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	// height: 100%;
	background-color: $white-color;
	// height: 1500px;
	font-family: $futura;


	section{
		max-width: 100vw;
	}

	.first{

		margin-top: 150px;
		width: 100%;
		display: grid;
		overflow: hidden;
		grid-template-columns: 142px 1fr 1fr;
		@include tablet {
			grid-template-columns: 20px 1fr 1fr;
		}
		@include phone {
			grid-template-columns: 1fr;
			margin-top: 120px;
			// padding-left: 10px;
		}


		.first-left{
			margin-top: 240px;
			.standard-text{
				max-width: 480px;
				display: block;
				margin-bottom: 50px;
				@include phone{
					max-width: 90%;
				}
			}
			.button{
				max-width: 95px;
			}
			@include phone {
				grid-template-columns: 1fr;
				margin-left: 10px;
				top: 50%;
				margin-top: 50px;
			}
		}
		.first-right{

			h1 {
				z-index: 100;
				margin-left: -127px;
				font-size: 182px;
				font-family: $futura-cond;
				font-weight: 500;

				@include phone{
					margin-left: 1.5%;
					font-size: 30vw;
					// color: $black-color !important;
					margin-top: 30px;
				}
			}
			span {
				z-index: 100;
				margin-left: 5px;
			}

			.image{
				// float: right;
				position: relative;
				margin-top: -250px;
				margin-left: 75px;
				height: 700px;
				// width: 400px;

				background-image: url("../img/Plane_bg.png");
				background-size: cover;
				background-position: -80px center;
				background-repeat: no-repeat;
				z-index: -2;

				@include tablet{

				}
				@include phone{
					background-position: center center;
					margin-left: 35%;
					height: 400px;
					grid-row-start: 1;
				}
				.special{
					z-index: -1;
					top: 30%;
					left: -70%;
					height: 100%;
					width: 180%;
					position: absolute;
					background-size: contain;
					background-image: url("../img/plane.png");
					background-position: 0px center;
					background-repeat: no-repeat;
					@include phone{
						top: 40%;
					}

				}
			}

			@include phone{
				grid-row-start: 1;
				// position: relative;
			}


		}
	}

	.second{
		position: relative;
		margin-top: 50px;
		height: 900px;
		background-image: url("../img/Fjord_02.png");
		background-size: cover;
		background-repeat: no-repeat;
		@include tablet{
			height: 700px;
		}
		@include phone{
			height: 600px;
			width: 100vw;
		}

		#norway{

			color: $native-green;
			text-transform: uppercase;
			font-size: 96px;
			font-weight: 600;
			letter-spacing: 10px;
			z-index: -100;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			top: 20%;
			@include tablet{
				right: -20%;
				font-size: 10vw;
				top: 18%;
			}
			@include phone{
				right: -30%;
				font-size: 11vw;
				top: 15%;
			}
		}

		.second-left{
			display: grid;
			grid-template-columns: 142px 1fr 1fr;
			position: absolute;
			top: 58%;
			@include tablet {
				grid-template-columns: 20px 1fr 1fr;
				margin-left: 10px;
				top: 60%;
			}
			@include phone {
				grid-template-columns: 1fr;
				margin-left: 10px;
				top: 53%;

			}

			h3 {
				// font-size: 56px;
				font-family: $futura-cond;
				font-weight: 500;
				color: white;
				// margin-bottom: 25px;
				@include phone{
					margin-bottom: 10px;
					margin-top: 15px;
				}
			}

			.standard-text{
				display: block;
				max-width: 400px;
				color: $white-color;
				font-size: 18px;
				font-family: $futura;
				font-weight: normal;
				line-height: 23px;
				margin-bottom: 30px;

			}
			.button{
				color: $white-color;
				border: 1px solid $white-color;
				padding-right: 70px;
				svg {
					fill: $white-color;
				}
				&:hover{
					border: 1px solid $native-blue;
				}
			}
		}

	}

	.third{
		background: $native-green;
		padding-top: 35px;
		padding-bottom: 35px;
		color: $white-color;
		text-align: center;
		font-size: 18px;
		margin-bottom: 50px;

		@include phone{
			padding-left: 10px;
			padding-right: 10px;
		}

		span {
			@include phone{
				display: block;
				text-align: left;
				max-width: 80%;
				line-height: 1.3;
			}
		}

		a{
			color: inherit;

			&:hover{

			}
		}
	}

	.fourth{
		margin-top: 150px;
		// padding-bottom: 50px;
		width: 100%;
		display: grid;
		grid-template-columns: 142px 1fr 1fr;
		@include tablet {
			grid-template-columns: 20px 1fr 1fr;
		}
		@include phone {
			grid-template-columns: 1fr;
			margin-top: 150px;
		}

		.first-left{
			margin-top: 240px;

			@include phone{
				margin-top: 50px;
				margin-left: 10px;
			}
			@include phone{
				max-width: 90%;
			}

			.standard-text{
				max-width: 480px;
				display: block;
				margin-bottom: 50px;

			}
			.button{
				max-width: 250px;
				padding-right: 80px;
			}

			.subheading{
				margin-bottom: 15px;
			}
			.date{
				text-decoration: underline;
				color: $native-blue;
				font-size: 20px;
				margin-bottom: 20px;
				display: block;
			}
		}
		.first-right{
			@include phone{
				grid-row-start: 1;
			}
			h1 {

				z-index: 100;
				margin-left: -61px;
				font-size: 182px;
				font-family: $futura-cond;
				font-weight: 500;
				@include phone{
					margin-left: 10px;
					font-size: 30vw;
				}
			}
			span {
				z-index: 100;
				margin-left: 5px;
			}

			.image{
				// float: right;
				margin-top: -180px;
				margin-left: 75px;
				height: 600px;
				// width: 400px;
				background-image: url("../img/Istanbul.jpg");
				background-size: cover;
				background-position: -130px center;
				background-repeat: no-repeat;
				@include phone{
					margin-left: 26vw;
					height: 400px;
				}
			}
		}
	}

}
