@import 'reset';
@import 'variables';
@import 'mixins';
@import 'header';
@import 'wir';
@import 'trips';


@font-face { font-family: 'futura_lokal';
             src: url('../fonts/FuturaPT-Book.woff') format('woff'); font-weight: 400; }
@font-face { font-family: 'futura_lokal';
      src: url('../fonts/FuturaPT-Demi.woff') format('woff'); font-weight: 600; }

	  @font-face { font-family: 'futura_lokal';
	        src: url('../fonts/FuturaPT-Medium.woff') format('woff'); font-weight: 500; }


@font-face { font-family: 'futura_cond_lokal';
          	src: url('../fonts/FuturaPTCond-Medium.woff') format('woff');}




.native-blue {
	color: $native-blue;
}

.white-color{
	color: $white-color;
}

.sport-color {
	color: $sport-color;
}

.musik-color {
	color: $musik-color;
}

.kunst-color {
	color: $kunst-color;
}

.regional-color {
	color: $regional-color;
}

.subheading{
	font-size: 4vw;
	font-family: $futura-cond;
	font-weight: 500;
	margin-bottom: 25px;
	@include phone{
		font-size: 10vw;
	}
}

.standard-text{
	font-size: 18px;
	line-height: 23px;
	font-family: $futura;
	font-weight: 400;
}

.button{
	display: inline-block;
	box-sizing: border-box;
	position: relative;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 10px;
	padding-right: 110px;
	font-size: 20px;
	border: 1px solid $black-color;
	width: auto;
	text-decoration: none;
	color: $black-color;
	overflow: hidden;
	// transition: all ease .2s;

	&:hover{
		color: $white-color;
		background: $native-blue;
		border: 1px solid $native-blue;
		cursor: pointer;

		svg {

			fill: $white-color;
			&.idle
			{
				transform: translate3d(0, -50px, 0) rotate(0deg);
			}
			&.hover
			{
				transform: translate3d(0, 0px, 0) rotate(-1deg);
			}
		}
	}

	.hover{
		top: 13px;
		fill: $white-color;
		transform: translate3d(0, 0px, 0) rotate(30deg);
		transform-origin: -50px -50px;
	}

	svg{
		top: 13px;
		right: 8px;
		position: absolute;
		height: 10px;
		margin-left: 25px;
		margin-right: 7px;
		transform: translate3d(0, 0, 0);
		transition: all ease .4s;
	}
}

body{
	// padding-bottom: 360px;
}

main{
	// background: $white-color;
	// padding-bottom: 130px;
}

footer{
	// position: fixed;
	// bottom: 0;
	// height: 400px;
	width: 100%;
	z-index: -100;
	overflow-x: hidden;
	display: grid;
	grid-template-columns: 1fr 3fr;
	// padding: 80px;
	padding-left: 142px;
	padding-right: 0px;
	padding-bottom: 0px;
	margin-top: 140px;
	background: $native-blue;
	color: $white-color;
	font-size: 18px;
	line-height: 1.4;

	@include phone{
		grid-template-columns: 1fr;
		padding-left: 0px;
		padding-right: 0px;
		padding-top: 20px;
		margin-top: 60px;

	}

	.standard-text{
		padding-top: 20px;
		display: block;
		margin-top: 20px;
		@include phone{
			margin-left: 10px;
			margin-top: 0px;
		}
	}

	.legal{
		margin-top: 105px;
		display: block;
		a{
			text-decoration: underline;
			color: $white-color;
			&:last-of-type{
				margin-left: 10px;
			}
		}
		@include phone{
			margin-top: 10px;
			// position: absolute;
			z-index: 100;
			margin-left: 10px;
			// top: 150px;
		}
	}

	.map{
		margin-top: -2px;
		height: 300px;
		width: 100%;
		background-image: url("../img/map.png");
		background-size: cover;
		margin-left: 30px;
		border-radius: 3px;
		@include phone{
			margin-top: 40px;
			margin-left: 0;
			background-position: center center;
		}
	}
}
* :focus {
outline: 0;
}
