/* Webfont: FuturaPTCond-Medium */@font-face {
    font-family: 'FuturaPTCondMedium';
    src: url('FuturaPTCond-Medium.eot'); /* IE9 Compat Modes */
    src: url('FuturaPTCond-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('FuturaPTCond-Medium.woff') format('woff'), /* Modern Browsers */
         url('FuturaPTCond-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
         url('FuturaPTCond-Medium.svg#FuturaPTCond-Medium') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

