/* Webfont: FuturaPT-LightObl */@font-face {
    font-family: 'FuturaPTLightItalic';
    src: url('FuturaPT-LightObl.eot'); /* IE9 Compat Modes */
    src: url('FuturaPT-LightObl.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('FuturaPT-LightObl.woff') format('woff'), /* Modern Browsers */
         url('FuturaPT-LightObl.ttf') format('truetype'), /* Safari, Android, iOS */
         url('FuturaPT-LightObl.svg#FuturaPT-LightObl') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

