html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

header {
  -webkit-transition: all ease .2s;
  -o-transition: all ease .2s;
  transition: all ease .2s;
  z-index: 500;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  padding-left: 30px;
  padding-top: 20px;
  background: #ffffff;
  font-size: 17px;
  font-family: futura_lokal, sans-serif; }
  @media (max-width: 999px) {
    header {
      padding-left: 10px;
      padding-top: 15px; } }
  header a {
    text-decoration: none;
    color: #000000; }
  header .logo-area {
    -webkit-transition: all ease .2s;
    -o-transition: all ease .2s;
    transition: all ease .2s;
    position: absolute;
    display: grid;
    width: 30%;
    grid-template-columns: 80px 1fr;
    grid-gap: 33px; }
    @media (max-width: 460px) {
      header .logo-area {
        grid-template-columns: 1fr 1fr; } }
    header .logo-area .logo {
      height: 80px;
      float: right;
      -webkit-transition: all ease .2s;
      -o-transition: all ease .2s;
      transition: all ease .2s;
      -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
      transform-origin: center center; }
      @media (max-width: 999px) {
        header .logo-area .logo {
          -webkit-transform: scale3d(0.6, 0.6, 0.6) translateX(-25px);
          transform: scale3d(0.6, 0.6, 0.6) translateX(-25px);
          float: left; } }
    header .logo-area .title {
      -ms-flex-item-align: center;
      align-self: center;
      width: auto;
      white-space: nowrap; }
      @media (max-width: 999px) {
        header .logo-area .title {
          -webkit-transform: translateX(-5vw);
          -ms-transform: translateX(-5vw);
          transform: translateX(-5vw); } }
      @media (max-width: 460px) {
        header .logo-area .title {
          -webkit-transform: translateX(-14vw);
          -ms-transform: translateX(-14vw);
          transform: translateX(-14vw); } }
      @media screen and (max-width: 310px) {
        header .logo-area .title {
          display: none; } }
  header .mobile-nav {
    height: 0;
    width: 100%; }
    @media screen and (min-width: 1000px) {
      header .mobile-nav {
        display: none; } }
    header .mobile-nav .mobile-login {
      height: 24px;
      position: absolute;
      right: 85px;
      top: 43px; }
    header .mobile-nav .burger {
      display: block;
      height: auto;
      width: auto;
      position: absolute;
      right: 30px;
      top: 45px; }
      header .mobile-nav .burger span {
        -webkit-transition: all ease .2s;
        -o-transition: all ease .2s;
        transition: all ease .2s;
        display: block;
        height: 2px;
        width: 30px;
        background: #000000;
        border-radius: 10px; }
        header .mobile-nav .burger span.second-stroke {
          opacity: 1;
          margin-top: 7px; }
        header .mobile-nav .burger span.third-stroke {
          margin-top: 7px; }
      header .mobile-nav .burger.open {
        -webkit-transform: translateY(-2px) scale3d(0.9, 0.9, 0.9);
        transform: translateY(-2px) scale3d(0.9, 0.9, 0.9); }
        header .mobile-nav .burger.open span.first-stroke {
          -webkit-transform: rotate(90deg) translateX(10px);
          -ms-transform: rotate(90deg) translateX(10px);
          transform: rotate(90deg) translateX(10px); }
        header .mobile-nav .burger.open span.second-stroke {
          width: 15px;
          -webkit-transform: translateX(12px) translateY(12px) rotate(-45deg);
          -ms-transform: translateX(12px) translateY(12px) rotate(-45deg);
          transform: translateX(12px) translateY(12px) rotate(-45deg); }
        header .mobile-nav .burger.open span.third-stroke {
          width: 15px;
          -webkit-transform: translateX(3px) translateY(3px) rotate(45deg);
          -ms-transform: translateX(3px) translateY(3px) rotate(45deg);
          transform: translateX(3px) translateY(3px) rotate(45deg); }
    header .mobile-nav .mobile-menu {
      pointer-events: none;
      -webkit-transition: all ease .4s .4s;
      -o-transition: all ease .4s .4s;
      transition: all ease .4s .4s;
      width: 100%;
      background: #ffffff;
      z-index: -5;
      position: absolute;
      left: 0;
      padding-top: 60px;
      padding-bottom: 30px;
      opacity: 0;
      height: 100vh; }
      header .mobile-nav .mobile-menu ul {
        text-align: right;
        padding-top: 5vh; }
        header .mobile-nav .mobile-menu ul li:nth-of-type(1) {
          -webkit-transition-delay: 0.2s;
          -o-transition-delay: 0.2s;
          transition-delay: 0.2s; }
        header .mobile-nav .mobile-menu ul li:nth-of-type(2) {
          -webkit-transition-delay: 0.15s;
          -o-transition-delay: 0.15s;
          transition-delay: 0.15s; }
        header .mobile-nav .mobile-menu ul li:nth-of-type(3) {
          -webkit-transition-delay: 0.1s;
          -o-transition-delay: 0.1s;
          transition-delay: 0.1s; }
        header .mobile-nav .mobile-menu ul li:nth-of-type(4) {
          -webkit-transition-delay: 0.05s;
          -o-transition-delay: 0.05s;
          transition-delay: 0.05s; }
        header .mobile-nav .mobile-menu ul li:nth-of-type(5) {
          -webkit-transition-delay: 0s;
          -o-transition-delay: 0s;
          transition-delay: 0s; }
        header .mobile-nav .mobile-menu ul li:nth-of-type(6) {
          -webkit-transition-delay: -0.05s;
          -o-transition-delay: -0.05s;
          transition-delay: -0.05s; }
      header .mobile-nav .mobile-menu li {
        -webkit-transition: all ease .2s;
        -o-transition: all ease .2s;
        transition: all ease .2s;
        -webkit-transform: translateX(100px);
        -ms-transform: translateX(100px);
        transform: translateX(100px);
        opacity: 0;
        font-size: 38px;
        padding-top: 30px; }
        header .mobile-nav .mobile-menu li .active {
          border-bottom: 2px solid #000000; }
      header .mobile-nav .mobile-menu.open {
        pointer-events: all;
        -webkit-transition: all ease .4s;
        -o-transition: all ease .4s;
        transition: all ease .4s;
        opacity: 1; }
        header .mobile-nav .mobile-menu.open li:nth-of-type(1) {
          -webkit-transition-delay: 0.05s;
          -o-transition-delay: 0.05s;
          transition-delay: 0.05s; }
        header .mobile-nav .mobile-menu.open li:nth-of-type(2) {
          -webkit-transition-delay: 0.1s;
          -o-transition-delay: 0.1s;
          transition-delay: 0.1s; }
        header .mobile-nav .mobile-menu.open li:nth-of-type(3) {
          -webkit-transition-delay: 0.15s;
          -o-transition-delay: 0.15s;
          transition-delay: 0.15s; }
        header .mobile-nav .mobile-menu.open li:nth-of-type(4) {
          -webkit-transition-delay: 0.2s;
          -o-transition-delay: 0.2s;
          transition-delay: 0.2s; }
        header .mobile-nav .mobile-menu.open li:nth-of-type(5) {
          -webkit-transition-delay: 0.25s;
          -o-transition-delay: 0.25s;
          transition-delay: 0.25s; }
        header .mobile-nav .mobile-menu.open li:nth-of-type(6) {
          -webkit-transition-delay: 0.3s;
          -o-transition-delay: 0.3s;
          transition-delay: 0.3s; }
        header .mobile-nav .mobile-menu.open li {
          -webkit-transition: all ease .3s;
          -o-transition: all ease .3s;
          transition: all ease .3s;
          opacity: 1;
          -webkit-transform: translateX(-30px);
          -ms-transform: translateX(-30px);
          transform: translateX(-30px); }
  header .main-nav {
    position: absolute;
    right: 5vw;
    top: 52px;
    -webkit-transition: all ease .2s;
    -o-transition: all ease .2s;
    transition: all ease .2s; }
    @media (max-width: 999px) {
      header .main-nav {
        display: none; } }
    header .main-nav li {
      display: inline;
      margin-left: 12px;
      margin-right: 12px; }
      header .main-nav li a {
        color: #666666; }
        header .main-nav li a.active {
          font-weight: 500;
          border-bottom: 1px solid #000000;
          opacity: 1;
          color: #000000; }
        header .main-nav li a:hover {
          border-bottom: 1px solid #000000;
          color: #000000; }
        header .main-nav li a .notification {
          -webkit-transition: all ease .1s;
          -o-transition: all ease .1s;
          transition: all ease .1s;
          position: absolute;
          top: -7px;
          margin-left: -4px;
          font-size: 12px;
          width: 17px;
          height: 17px;
          background: #40B4E5;
          border-radius: 100%;
          color: #ffffff;
          text-align: center;
          font-weight: bold; }
          header .main-nav li a .notification .notification-text {
            position: absolute;
            left: 5.49px;
            top: 2px; }
    header .main-nav .login {
      height: 20px;
      position: absolute;
      top: -4px;
      right: -10px;
      cursor: pointer; }
  header .login-screen {
    height: 190px;
    background: #ffffff;
    position: absolute;
    right: 0;
    top: 100px;
    width: 280px;
    -webkit-box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.1);
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.1);
    padding: 20px; }
    header .login-screen input {
      border: 1px solid #000000;
      opacity: .8;
      font-size: 15px;
      width: 80%;
      height: 25px;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 10px; }
    header .login-screen .button {
      margin-top: 20px; }
    header .login-screen.closed {
      display: none; }
  header.slim {
    -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    -webkit-transition: all ease .2s;
    -o-transition: all ease .2s;
    transition: all ease .2s;
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
    height: 70px; }
    header.slim .logo-area {
      grid-gap: 5px;
      -webkit-transition: all ease .2s;
      -o-transition: all ease .2s;
      transition: all ease .2s; }
      header.slim .logo-area .logo {
        -webkit-transform-origin: center center;
        -ms-transform-origin: center center;
        transform-origin: center center;
        -webkit-transform: scale3d(0.3, 0.3, 1) translateX(80px);
        transform: scale3d(0.3, 0.3, 1) translateX(80px);
        -webkit-transition: all ease .2s;
        -o-transition: all ease .2s;
        transition: all ease .2s; }
        @media (max-width: 999px) {
          header.slim .logo-area .logo {
            -webkit-transform: scale3d(0.35, 0.35, 1) translateX(-50px);
            transform: scale3d(0.35, 0.35, 1) translateX(-50px); } }
    header.slim nav {
      -webkit-transition: all ease .2s;
      -o-transition: all ease .2s;
      transition: all ease .2s; }
    header.slim .login-screen {
      top: 88px; }
    @media (max-width: 460px) {
      header.slim .title {
        -webkit-transition: all ease .2s;
        -o-transition: all ease .2s;
        transition: all ease .2s;
        -webkit-transform: translateX(-12vw);
        -ms-transform: translateX(-12vw);
        transform: translateX(-12vw); } }

html {
  width: 100%;
  height: 100%; }

body {
  width: 100%;
  background-color: #ffffff;
  font-family: futura_lokal, sans-serif; }
  body section {
    max-width: 100vw; }
  body .first {
    margin-top: 150px;
    width: 100%;
    display: grid;
    overflow: hidden;
    grid-template-columns: 142px 1fr 1fr; }
    @media (max-width: 999px) {
      body .first {
        grid-template-columns: 20px 1fr 1fr; } }
    @media (max-width: 460px) {
      body .first {
        grid-template-columns: 1fr;
        margin-top: 120px; } }
    body .first .first-left {
      margin-top: 240px; }
      body .first .first-left .standard-text {
        max-width: 480px;
        display: block;
        margin-bottom: 50px; }
        @media (max-width: 460px) {
          body .first .first-left .standard-text {
            max-width: 90%; } }
      body .first .first-left .button {
        max-width: 95px; }
      @media (max-width: 460px) {
        body .first .first-left {
          grid-template-columns: 1fr;
          margin-left: 10px;
          top: 50%;
          margin-top: 50px; } }
    body .first .first-right h1 {
      z-index: 100;
      margin-left: -127px;
      font-size: 182px;
      font-family: futura_cond_lokal, sans-serif;
      font-weight: 500; }
      @media (max-width: 460px) {
        body .first .first-right h1 {
          margin-left: 1.5%;
          font-size: 30vw;
          margin-top: 30px; } }
    body .first .first-right span {
      z-index: 100;
      margin-left: 5px; }
    body .first .first-right .image {
      position: relative;
      margin-top: -250px;
      margin-left: 75px;
      height: 700px;
      background-image: url("../img/Plane_bg.png");
      background-size: cover;
      background-position: -80px center;
      background-repeat: no-repeat;
      z-index: -2; }
      @media (max-width: 460px) {
        body .first .first-right .image {
          background-position: center center;
          margin-left: 35%;
          height: 400px;
          grid-row-start: 1; } }
      body .first .first-right .image .special {
        z-index: -1;
        top: 30%;
        left: -70%;
        height: 100%;
        width: 180%;
        position: absolute;
        background-size: contain;
        background-image: url("../img/plane.png");
        background-position: 0px center;
        background-repeat: no-repeat; }
        @media (max-width: 460px) {
          body .first .first-right .image .special {
            top: 40%; } }
    @media (max-width: 460px) {
      body .first .first-right {
        grid-row-start: 1; } }
  body .second {
    position: relative;
    margin-top: 50px;
    height: 900px;
    background-image: url("../img/Fjord_02.png");
    background-size: cover;
    background-repeat: no-repeat; }
    @media (max-width: 999px) {
      body .second {
        height: 700px; } }
    @media (max-width: 460px) {
      body .second {
        height: 600px;
        width: 100vw; } }
    body .second #norway {
      color: #5FBB97;
      text-transform: uppercase;
      font-size: 96px;
      font-weight: 600;
      letter-spacing: 10px;
      z-index: -100;
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      top: 20%; }
      @media (max-width: 999px) {
        body .second #norway {
          right: -20%;
          font-size: 10vw;
          top: 18%; } }
      @media (max-width: 460px) {
        body .second #norway {
          right: -30%;
          font-size: 11vw;
          top: 15%; } }
    body .second .second-left {
      display: grid;
      grid-template-columns: 142px 1fr 1fr;
      position: absolute;
      top: 58%; }
      @media (max-width: 999px) {
        body .second .second-left {
          grid-template-columns: 20px 1fr 1fr;
          margin-left: 10px;
          top: 60%; } }
      @media (max-width: 460px) {
        body .second .second-left {
          grid-template-columns: 1fr;
          margin-left: 10px;
          top: 53%; } }
      body .second .second-left h3 {
        font-family: futura_cond_lokal, sans-serif;
        font-weight: 500;
        color: white; }
        @media (max-width: 460px) {
          body .second .second-left h3 {
            margin-bottom: 10px;
            margin-top: 15px; } }
      body .second .second-left .standard-text {
        display: block;
        max-width: 400px;
        color: #ffffff;
        font-size: 18px;
        font-family: futura_lokal, sans-serif;
        font-weight: normal;
        line-height: 23px;
        margin-bottom: 30px; }
      body .second .second-left .button {
        color: #ffffff;
        border: 1px solid #ffffff;
        padding-right: 70px; }
        body .second .second-left .button svg {
          fill: #ffffff; }
        body .second .second-left .button:hover {
          border: 1px solid #40B4E5; }
  body .third {
    background: #5FBB97;
    padding-top: 35px;
    padding-bottom: 35px;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    margin-bottom: 50px; }
    @media (max-width: 460px) {
      body .third {
        padding-left: 10px;
        padding-right: 10px; } }
    @media (max-width: 460px) {
      body .third span {
        display: block;
        text-align: left;
        max-width: 80%;
        line-height: 1.3; } }
    body .third a {
      color: inherit; }
  body .fourth {
    margin-top: 150px;
    width: 100%;
    display: grid;
    grid-template-columns: 142px 1fr 1fr; }
    @media (max-width: 999px) {
      body .fourth {
        grid-template-columns: 20px 1fr 1fr; } }
    @media (max-width: 460px) {
      body .fourth {
        grid-template-columns: 1fr;
        margin-top: 150px; } }
    body .fourth .first-left {
      margin-top: 240px; }
      @media (max-width: 460px) {
        body .fourth .first-left {
          margin-top: 50px;
          margin-left: 10px; } }
      @media (max-width: 460px) {
        body .fourth .first-left {
          max-width: 90%; } }
      body .fourth .first-left .standard-text {
        max-width: 480px;
        display: block;
        margin-bottom: 50px; }
      body .fourth .first-left .button {
        max-width: 250px;
        padding-right: 80px; }
      body .fourth .first-left .subheading {
        margin-bottom: 15px; }
      body .fourth .first-left .date {
        text-decoration: underline;
        color: #40B4E5;
        font-size: 20px;
        margin-bottom: 20px;
        display: block; }
    @media (max-width: 460px) {
      body .fourth .first-right {
        grid-row-start: 1; } }
    body .fourth .first-right h1 {
      z-index: 100;
      margin-left: -61px;
      font-size: 182px;
      font-family: futura_cond_lokal, sans-serif;
      font-weight: 500; }
      @media (max-width: 460px) {
        body .fourth .first-right h1 {
          margin-left: 10px;
          font-size: 30vw; } }
    body .fourth .first-right span {
      z-index: 100;
      margin-left: 5px; }
    body .fourth .first-right .image {
      margin-top: -180px;
      margin-left: 75px;
      height: 600px;
      background-image: url("../img/Istanbul.jpg");
      background-size: cover;
      background-position: -130px center;
      background-repeat: no-repeat; }
      @media (max-width: 460px) {
        body .fourth .first-right .image {
          margin-left: 26vw;
          height: 400px; } }

main {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 160px; }
  @media (max-width: 460px) {
    main {
      margin-top: 110px; } }
  main .heading {
    margin-left: 142px; }
    @media (max-width: 460px) {
      main .heading {
        margin-left: 10px; } }
    main .heading h1 {
      font-size: 56px;
      font-family: futura_cond_lokal, sans-serif;
      font-weight: 500; }
      @media (max-width: 460px) {
        main .heading h1 {
          font-size: 12vw; } }
  main .categories {
    -webkit-transition: all ease .2s;
    -o-transition: all ease .2s;
    transition: all ease .2s;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 100px;
    grid-column-gap: 20px;
    margin-top: 70px;
    overflow-y: hidden; }
    @media (max-width: 460px) {
      main .categories {
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
        grid-column-gap: 0px;
        margin-right: 0; } }
    main .categories a {
      color: #000000; }
      main .categories a:visited {
        color: #000000; }
    main .categories .grid-element {
      height: 500px;
      position: relative; }
      @media (max-width: 460px) {
        main .categories .grid-element {
          height: 400px; } }
      main .categories .grid-element h2 {
        -webkit-transition: all ease .2s;
        -o-transition: all ease .2s;
        transition: all ease .2s;
        font-size: 182px;
        font-family: futura_cond_lokal, sans-serif;
        font-weight: 500;
        position: absolute;
        top: 110px;
        z-index: 100;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0); }
        main .categories .grid-element h2 span {
          -webkit-transition: all ease .2s;
          -o-transition: all ease .2s;
          transition: all ease .2s; }
        @media (max-width: 460px) {
          main .categories .grid-element h2 {
            font-size: 30vw; } }
      main .categories .grid-element .subtext {
        -webkit-transition: all ease .2s .1s;
        -o-transition: all ease .2s .1s;
        transition: all ease .2s .1s;
        text-align: right;
        position: absolute;
        left: 140px;
        top: 320px;
        display: block;
        max-width: 150px;
        z-index: 1; }
        @media (max-width: 460px) {
          main .categories .grid-element .subtext {
            left: 7vw;
            top: 250px;
            max-width: 150px; } }
      main .categories .grid-element .image-container {
        height: 99%;
        width: 100%;
        float: right;
        background-size: cover;
        background-repeat: no-repeat;
        -webkit-transition: all ease .2s;
        -o-transition: all ease .2s;
        transition: all ease .2s;
        margin-top: 1px; }
      main .categories .grid-element .white-container {
        -webkit-transition: all ease .3s;
        -o-transition: all ease .3s;
        transition: all ease .3s;
        position: absolute;
        background: #ffffff;
        height: 515px;
        width: 321px;
        left: -1px;
        top: -2px;
        bottom: -3px; }
        @media (max-width: 460px) {
          main .categories .grid-element .white-container {
            width: 50vw; } }
      main .categories .grid-element.sport .image-container {
        background-image: url("../img/Swimmer.jpg");
        background-position: left center; }
      main .categories .grid-element.sport h2 {
        left: 133px; }
        @media (max-width: 460px) {
          main .categories .grid-element.sport h2 {
            left: 19vw; } }
      main .categories .grid-element.musik .image-container {
        background-image: url("../img/Dance.jpg");
        background-position: left center; }
      main .categories .grid-element.musik h2 {
        left: 116px; }
        @media (max-width: 460px) {
          main .categories .grid-element.musik h2 {
            left: 16vw; } }
      main .categories .grid-element.kunst .image-container {
        background-image: url("../img/Statue.jpg");
        background-position: right center; }
      main .categories .grid-element.kunst h2 {
        left: 125px; }
        @media (max-width: 460px) {
          main .categories .grid-element.kunst h2 {
            left: 17.5vw; } }
      main .categories .grid-element.regional .image-container {
        background-image: url("../img/Lake.jpg");
        background-position: 0px center; }
      main .categories .grid-element.regional h2 {
        left: 37px; }
        @media (max-width: 460px) {
          main .categories .grid-element.regional h2 {
            left: 3vw; } }
      main .categories .grid-element:hover {
        cursor: pointer;
        color: #ffffff !important; }
        main .categories .grid-element:hover .sport-color, main .categories .grid-element:hover .musik-color, main .categories .grid-element:hover .kunst-color, main .categories .grid-element:hover .regional-color, main .categories .grid-element:hover h2, main .categories .grid-element:hover span {
          -webkit-transition: all ease .2s;
          -o-transition: all ease .2s;
          transition: all ease .2s;
          color: #ffffff; }
        main .categories .grid-element:hover .white-container {
          -webkit-transition: all ease .3s;
          -o-transition: all ease .3s;
          transition: all ease .3s;
          -webkit-transform: translateX(-160px) scale3d(0, 1, 1);
          transform: translateX(-160px) scale3d(0, 1, 1); }
        main .categories .grid-element:hover .subtext {
          -webkit-transition: all ease .2s;
          -o-transition: all ease .2s;
          transition: all ease .2s;
          opacity: 0; }
        main .categories .grid-element:hover h2 {
          -webkit-transform-origin: center center;
          -ms-transform-origin: center center;
          transform-origin: center center;
          -webkit-transition: all ease .2s;
          -o-transition: all ease .2s;
          transition: all ease .2s;
          -webkit-transform: translateX(19%);
          -ms-transform: translateX(19%);
          transform: translateX(19%);
          text-align: center; }
  main .single {
    margin-top: 230px;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    main .single h2 {
      font-size: 182px;
      font-family: futura_cond_lokal, sans-serif;
      font-weight: 500;
      position: absolute;
      top: 250px;
      z-index: 100;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
      @media (max-width: 460px) {
        main .single h2 {
          font-size: 30vw;
          top: 10px;
          position: relative;
          margin-bottom: 30px;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          max-width: 95%;
          display: block;
          padding-top: 50px; } }
    @media (max-width: 460px) {
      main .single {
        margin-top: 160px;
        margin-bottom: 100px; } }
    main .single.sport .first-image {
      margin-left: 320px;
      background-image: url("../img/Swimmer.jpg"); }
      @media (max-width: 460px) {
        main .single.sport .first-image {
          margin-left: 0vw; } }
    main .single.sport .second-image {
      background-image: url("../img/Formel.jpg"); }
    main .single.sport .indicator {
      background-color: #FBFB05; }
    main .single.sport h2 {
      left: 133px; }
      @media (max-width: 460px) {
        main .single.sport h2 {
          left: 10px; } }
    main .single.musik .first-image {
      margin-left: 338px;
      background-image: url("../img/Dance.jpg"); }
      @media (max-width: 460px) {
        main .single.musik .first-image {
          margin-left: 0vw; } }
    main .single.musik .second-image {
      background-image: url("../img/Piano.jpg"); }
    main .single.musik .indicator {
      background-color: #02CAF4; }
    main .single.musik h2 {
      left: 133px; }
      @media (max-width: 460px) {
        main .single.musik h2 {
          left: 10px; } }
    main .single.kunst .first-image {
      margin-left: 328px;
      background-image: url("../img/Statue.jpg");
      background-position: center; }
      @media (max-width: 460px) {
        main .single.kunst .first-image {
          margin-left: 0vw; } }
    main .single.kunst .second-image {
      background-image: url("../img/Man.jpg"); }
    main .single.kunst .indicator {
      background-color: #E71D36; }
    main .single.kunst h2 {
      left: 133px; }
      @media (max-width: 460px) {
        main .single.kunst h2 {
          left: 10px; } }
    main .single.regional .first-image {
      margin-left: 416px;
      background-image: url("../img/Lake.jpg"); }
      @media (max-width: 460px) {
        main .single.regional .first-image {
          margin-left: 0vw; } }
    main .single.regional .second-image {
      background-image: url("../img/Beach.jpg");
      background-position: center center; }
    main .single.regional .indicator {
      background-color: #B9FFB7; }
    main .single.regional h2 {
      left: 133px; }
      @media (max-width: 460px) {
        main .single.regional h2 {
          left: 10px; } }
    main .single .first-image {
      height: 470px;
      background-size: cover; }
      @media (max-width: 460px) {
        main .single .first-image {
          height: 200px; } }
    main .single .second-image {
      background-size: cover;
      height: 460px; }
      @media (max-width: 460px) {
        main .single .second-image {
          height: 200px;
          margin-left: -10px; } }
      main .single .second-image .button {
        position: absolute;
        bottom: -1px;
        right: 0px;
        border: none;
        background: #ffffff;
        padding-right: 55px; }
        @media (max-width: 460px) {
          main .single .second-image .button {
            -webkit-box-sizing: border-box;
            box-sizing: border-box; } }
        main .single .second-image .button svg.idle {
          -webkit-transition: all ease .3s;
          -o-transition: all ease .3s;
          transition: all ease .3s;
          -webkit-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
          height: 9px; }
        main .single .second-image .button svg.hover {
          -webkit-transition: all ease .3s;
          -o-transition: all ease .3s;
          transition: all ease .3s;
          -webkit-transform: rotate(0deg) translate3d(0, 30px, 0);
          transform: rotate(0deg) translate3d(0, 30px, 0);
          height: 18px;
          margin-top: -5px; }
        main .single .second-image .button:hover {
          color: #000000; }
          main .single .second-image .button:hover svg.idle {
            -webkit-transition: all ease .3s;
            -o-transition: all ease .3s;
            transition: all ease .3s;
            -webkit-transform: rotate(-90deg) translate3d(30px, 0, 0);
            transform: rotate(-90deg) translate3d(30px, 0, 0);
            fill: #000000; }
          main .single .second-image .button:hover svg.hover {
            -webkit-transition: all ease .3s;
            -o-transition: all ease .3s;
            transition: all ease .3s;
            -webkit-transform: rotate(0deg) translate3d(0, 0, 0);
            transform: rotate(0deg) translate3d(0, 0, 0); }
    main .single .single-main-container {
      margin-top: 50px;
      display: grid;
      grid-template-columns: 142px 1fr 1fr;
      grid-gap: 30px; }
      @media (max-width: 460px) {
        main .single .single-main-container {
          grid-template-columns: 1fr;
          margin-left: 10px;
          margin-top: 0px; } }
      main .single .single-main-container .single-text {
        padding-top: 40px;
        padding-right: 25px; }
        main .single .single-main-container .single-text span {
          display: block;
          max-width: 500px; }
        @media (max-width: 460px) {
          main .single .single-main-container .single-text {
            padding-top: 0px; } }
    main .single .button {
      margin-top: 70px;
      padding-right: 60px; }
      @media (max-width: 460px) {
        main .single .button {
          margin-top: 40px;
          margin-bottom: 40px; } }
    main .single .indicator {
      height: 6px;
      width: 200px;
      position: absolute;
      margin-top: 80px; }

#airplane-taking-off .cls-1 {
  fill: #ffffff !important; }

strong {
  font-weight: 500; }

.button.to-top-fixed {
  -webkit-transition: all ease .3s;
  -o-transition: all ease .3s;
  transition: all ease .3s;
  padding-right: 60px;
  position: fixed;
  bottom: 5vw;
  right: 0vw;
  z-index: 500;
  background: #ffffff;
  border: none;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateX(50vw);
  -ms-transform: translateX(50vw);
  transform: translateX(50vw); }
  .button.to-top-fixed.visible {
    -webkit-transform: translateX(0vw);
    -ms-transform: translateX(0vw);
    transform: translateX(0vw); }
  .button.to-top-fixed.sport-color {
    color: #000000;
    background: #FBFB05; }
  .button.to-top-fixed.musik-color {
    color: #ffffff;
    background: #02CAF4; }
    .button.to-top-fixed.musik-color svg.idle {
      fill: #ffffff; }
  .button.to-top-fixed.kunst-color {
    color: #ffffff;
    background: #E71D36; }
    .button.to-top-fixed.kunst-color svg.idle {
      fill: #ffffff; }
  .button.to-top-fixed.regional-color {
    color: #000000;
    background: #B9FFB7; }
  .button.to-top-fixed svg.idle {
    -webkit-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    height: 9px; }
  .button.to-top-fixed svg.hover {
    -webkit-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s;
    -webkit-transform: rotate(0deg) translate3d(0, 30px, 0);
    transform: rotate(0deg) translate3d(0, 30px, 0);
    height: 18px;
    margin-top: -5px; }
  .button.to-top-fixed:hover {
    border: none; }

@font-face {
  font-family: 'futura_lokal';
  src: url("../fonts/FuturaPT-Book.woff") format("woff");
  font-weight: 400; }

@font-face {
  font-family: 'futura_lokal';
  src: url("../fonts/FuturaPT-Demi.woff") format("woff");
  font-weight: 600; }

@font-face {
  font-family: 'futura_lokal';
  src: url("../fonts/FuturaPT-Medium.woff") format("woff");
  font-weight: 500; }

@font-face {
  font-family: 'futura_cond_lokal';
  src: url("../fonts/FuturaPTCond-Medium.woff") format("woff"); }

.native-blue {
  color: #40B4E5; }

.white-color {
  color: #ffffff; }

.sport-color {
  color: #FBFB05; }

.musik-color {
  color: #02CAF4; }

.kunst-color {
  color: #E71D36; }

.regional-color {
  color: #B9FFB7; }

.subheading {
  font-size: 4vw;
  font-family: futura_cond_lokal, sans-serif;
  font-weight: 500;
  margin-bottom: 25px; }
  @media (max-width: 460px) {
    .subheading {
      font-size: 10vw; } }

.standard-text {
  font-size: 18px;
  line-height: 23px;
  font-family: futura_lokal, sans-serif;
  font-weight: 400; }

.button {
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 110px;
  font-size: 20px;
  border: 1px solid #000000;
  width: auto;
  text-decoration: none;
  color: #000000;
  overflow: hidden; }
  .button:hover {
    color: #ffffff;
    background: #40B4E5;
    border: 1px solid #40B4E5;
    cursor: pointer; }
    .button:hover svg {
      fill: #ffffff; }
      .button:hover svg.idle {
        -webkit-transform: translate3d(0, -50px, 0) rotate(0deg);
        transform: translate3d(0, -50px, 0) rotate(0deg); }
      .button:hover svg.hover {
        -webkit-transform: translate3d(0, 0px, 0) rotate(-1deg);
        transform: translate3d(0, 0px, 0) rotate(-1deg); }
  .button .hover {
    top: 13px;
    fill: #ffffff;
    -webkit-transform: translate3d(0, 0px, 0) rotate(30deg);
    transform: translate3d(0, 0px, 0) rotate(30deg);
    -webkit-transform-origin: -50px -50px;
    -ms-transform-origin: -50px -50px;
    transform-origin: -50px -50px; }
  .button svg {
    top: 13px;
    right: 8px;
    position: absolute;
    height: 10px;
    margin-left: 25px;
    margin-right: 7px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all ease .4s;
    -o-transition: all ease .4s;
    transition: all ease .4s; }

footer {
  width: 100%;
  z-index: -100;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding-left: 142px;
  padding-right: 0px;
  padding-bottom: 0px;
  margin-top: 140px;
  background: #40B4E5;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.4; }
  @media (max-width: 460px) {
    footer {
      grid-template-columns: 1fr;
      padding-left: 0px;
      padding-right: 0px;
      padding-top: 20px;
      margin-top: 60px; } }
  footer .standard-text {
    padding-top: 20px;
    display: block;
    margin-top: 20px; }
    @media (max-width: 460px) {
      footer .standard-text {
        margin-left: 10px;
        margin-top: 0px; } }
  footer .legal {
    margin-top: 105px;
    display: block; }
    footer .legal a {
      text-decoration: underline;
      color: #ffffff; }
      footer .legal a:last-of-type {
        margin-left: 10px; }
    @media (max-width: 460px) {
      footer .legal {
        margin-top: 10px;
        z-index: 100;
        margin-left: 10px; } }
  footer .map {
    margin-top: -2px;
    height: 300px;
    width: 100%;
    background-image: url("../img/map.png");
    background-size: cover;
    margin-left: 30px;
    border-radius: 3px; }
    @media (max-width: 460px) {
      footer .map {
        margin-top: 40px;
        margin-left: 0;
        background-position: center center; } }

* :focus {
  outline: 0; }
