/* Webfont: FuturaPT-MediumObl */@font-face {
    font-family: 'FuturaPTMediumItalic';
    src: url('FuturaPT-MediumObl.eot'); /* IE9 Compat Modes */
    src: url('FuturaPT-MediumObl.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('FuturaPT-MediumObl.woff') format('woff'), /* Modern Browsers */
         url('FuturaPT-MediumObl.ttf') format('truetype'), /* Safari, Android, iOS */
         url('FuturaPT-MediumObl.svg#FuturaPT-MediumObl') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

