/* Webfont: FuturaPT-HeavyObl */@font-face {
    font-family: 'FuturaPTHeavyItalic';
    src: url('FuturaPT-HeavyObl.eot'); /* IE9 Compat Modes */
    src: url('FuturaPT-HeavyObl.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('FuturaPT-HeavyObl.woff') format('woff'), /* Modern Browsers */
         url('FuturaPT-HeavyObl.ttf') format('truetype'), /* Safari, Android, iOS */
         url('FuturaPT-HeavyObl.svg#FuturaPT-HeavyObl') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

