/* Webfont: FuturaPT-ExtraBold */@font-face {
    font-family: 'FuturaPTExtraBold';
    src: url('FuturaPT-ExtraBold.eot'); /* IE9 Compat Modes */
    src: url('FuturaPT-ExtraBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('FuturaPT-ExtraBold.woff') format('woff'), /* Modern Browsers */
         url('FuturaPT-ExtraBold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('FuturaPT-ExtraBold.svg#FuturaPT-ExtraBold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

