/* Webfont: FuturaPT-Demi */@font-face {
    font-family: 'FuturaPTDemi';
    src: url('FuturaPT-Demi.eot'); /* IE9 Compat Modes */
    src: url('FuturaPT-Demi.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('FuturaPT-Demi.woff') format('woff'), /* Modern Browsers */
         url('FuturaPT-Demi.ttf') format('truetype'), /* Safari, Android, iOS */
         url('FuturaPT-Demi.svg#FuturaPT-Demi') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

