/* Webfont: FuturaPT-Medium */@font-face {
    font-family: 'FuturaPTMedium';
    src: url('FuturaPT-Medium.eot'); /* IE9 Compat Modes */
    src: url('FuturaPT-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('FuturaPT-Medium.woff') format('woff'), /* Modern Browsers */
         url('FuturaPT-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
         url('FuturaPT-Medium.svg#FuturaPT-Medium') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

