/* Webfont: FuturaPTCond-ExtraBoldObl */@font-face {
    font-family: 'FuturaPTCondExtraBoldItal';
    src: url('FuturaPTCond-ExtraBoldObl.eot'); /* IE9 Compat Modes */
    src: url('FuturaPTCond-ExtraBoldObl.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('FuturaPTCond-ExtraBoldObl.woff') format('woff'), /* Modern Browsers */
         url('FuturaPTCond-ExtraBoldObl.ttf') format('truetype'), /* Safari, Android, iOS */
         url('FuturaPTCond-ExtraBoldObl.svg#FuturaPTCond-ExtraBoldObl') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

