/* Webfont: FuturaPTCond-BookObl */@font-face {
    font-family: 'FuturaPTCondBookItalic';
    src: url('FuturaPTCond-BookObl.eot'); /* IE9 Compat Modes */
    src: url('FuturaPTCond-BookObl.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('FuturaPTCond-BookObl.woff') format('woff'), /* Modern Browsers */
         url('FuturaPTCond-BookObl.ttf') format('truetype'), /* Safari, Android, iOS */
         url('FuturaPTCond-BookObl.svg#FuturaPTCond-BookObl') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

