/* Webfont: FuturaPTCond-BoldObl */@font-face {
    font-family: 'FuturaPTCondBoldItalic';
    src: url('FuturaPTCond-BoldObl.eot'); /* IE9 Compat Modes */
    src: url('FuturaPTCond-BoldObl.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('FuturaPTCond-BoldObl.woff') format('woff'), /* Modern Browsers */
         url('FuturaPTCond-BoldObl.ttf') format('truetype'), /* Safari, Android, iOS */
         url('FuturaPTCond-BoldObl.svg#FuturaPTCond-BoldObl') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

