/* Webfont: FuturaPTCond-MediumObl */@font-face {
    font-family: 'FuturaPTCondMediumItalic';
    src: url('FuturaPTCond-MediumObl.eot'); /* IE9 Compat Modes */
    src: url('FuturaPTCond-MediumObl.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('FuturaPTCond-MediumObl.woff') format('woff'), /* Modern Browsers */
         url('FuturaPTCond-MediumObl.ttf') format('truetype'), /* Safari, Android, iOS */
         url('FuturaPTCond-MediumObl.svg#FuturaPTCond-MediumObl') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

