/* Webfont: FuturaPT-Light */@font-face {
    font-family: 'FuturaPTLight';
    src: url('FuturaPT-Light.eot'); /* IE9 Compat Modes */
    src: url('FuturaPT-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('FuturaPT-Light.woff') format('woff'), /* Modern Browsers */
         url('FuturaPT-Light.ttf') format('truetype'), /* Safari, Android, iOS */
         url('FuturaPT-Light.svg#FuturaPT-Light') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

